<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.metasyntactic.activities"
    android:versionCode="10"
    android:versionName="1.10">
    <uses-sdk minSdkVersion="2" />
    <application
        android:icon="@drawable/launcher"
        android:label="@string/application_name"
        android:theme="@android:style/Theme.Black"
        android:name="org.metasyntactic.NowPlayingApplication">
        >
        <activity
            android:label="@string/application_name_and_version"
            android:name="NowPlayingActivity"
            android:launchMode="singleTask">
            
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/application_name_and_version"
            android:name="ShowtimesDetailsActivity">
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:label="@string/search"
            android:name="SearchMovieActivity">
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="Showtimes"
            android:name="ShowtimesActivity">
        </activity>
        <activity
            android:label="Upcoming Movies"
            android:launchMode="singleTask"
            android:name="UpcomingMoviesActivity">
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/application_name_and_version"
            android:name="MovieDetailsActivity">
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/application_name_and_version"
            android:name="UpcomingMovieDetailsActivity">
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/application_name_and_version"
            android:name="TheaterDetailsActivity">
        </activity>
        <activity
            android:label="Theaters"
            android:name="AllTheatersActivity">
        </activity>
        <activity
            android:label="Reviews"
            android:name="AllReviewsActivity">
        </activity>
         <activity
            android:label="@string/application_name"
            android:name="WebViewActivity">
        </activity>
        <activity
            android:label="@string/application_name"
            android:name="SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>